* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 75px;
	padding: 0 20px;
}
 
h2 {
	font-size: 24px;
	padding: 10px 20px;
}

p {
	font-size 16px;
	line-height: 1.7;
	padding: 10px 20px;
}

form {
	padding: 10px 20px;
	
}

label {
	font-weight: 700;
}

.container {
	padding: 20px 0;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.image-left {
	flex: 1;
}

.text-right {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.form-names, .form-names-last {
	width: 50%;
	padding: 0 5px;
}


.image-left img {
	max-width: 100%;
	height: auto;
}

.container-form-names {
	display: flex;
}

input[type=first-name], input[type=last-name] {
	width: 100%;
    padding: 5px;
    margin: 0 0 10px 0px;
    box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
}

input[type=phone-number] {
    width: 100%;
    padding: 5px;
    margin: 0 0 10px 0px;
    box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
}

select {
    width: 100%;
    padding: 5px;
    margin: 0 0 10px 0px;
 	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
}

button {
	background-color: #000000;
	color: #FFFFFF;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100px;
}

@media only screen and (max-width: 991px) {
	.image-left, .text-right {
	flex: 1 100%;
}
 }

	